In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame() # creata data frame

In [9]:
technologies = ({
    'Courses':["Spark","Hadoop","pandas","Java","Pyspark"],
    'Fee' :[20000,25000,30000,22000,26000],
    'Duration':['30days','40days','35days','60days','50days'],
    'Discount':[1000,2500,1500,1200,3000]
               })
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration  Discount
0    Spark  20000   30days      1000
1   Hadoop  25000   40days      2500
2   pandas  30000   35days      1500
3     Java  22000   60days      1200
4  Pyspark  26000   50days      3000

In [16]:
new_rows = {
    'Courses': 'Spark',
    'Fee':'20000',
    'Duration':'30days',
    'Discount': 1000
}
df2 = df.append(new_rows, ignore_index=True)
print(df2)

   Courses    Fee Duration  Discount
0    Spark  20000   30days      1000
1   Hadoop  25000   40days      2500
2   pandas  30000   35days      1500
3     Java  22000   60days      1200
4  Pyspark  26000   50days      3000
5    Spark  20000   30days      1000

/var/folders/8z/k522vptd4txb2npqyzdvlylh0000gn/T/ipykernel_49788/2681012082.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df.append(new_rows, ignore_index=True)